In [1]:
import pandas as pd

In [2]:
path = "Resources/budget_data.csv"

In [30]:
budget_data_df = pd.read_csv(path)
budget_data_df.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [69]:
Total_Month=len(budget_data_df["Date"])
Net_Total = budget_data_df["Profit/Losses"].sum()
budget_data_df["Change"] = (budget_data_df["Profit/Losses"]-budget_data_df["Profit/Losses"].shift())
print(Total_Month)
print(Net_Total)
Average_Change=round(budget_data_df["Change"].mean(),2)
#budget_data_df.head()
#Average_ChangeGreatest Increase in Profits: Aug-16 ($1862002)
#Increase_Max = budget_data_df["Change"].max()

#Decrease_Max = budget_data_df["Change"].min()
Greatest_Increase =  budget_data_df.loc[budget_data_df["Change"] == budget_data_df["Change"].max(),["Date","Profit/Losses"]]  
Greatest_Dncrease =  budget_data_df.loc[budget_data_df["Change"] == budget_data_df["Change"].min()]  
Greatest_Increase

86
22564198

      Date  Profit/Losses
79  Aug-16         951227