In [1]:
import pandas as pd

In [2]:
path = "Resources/budget_data.csv"

In [9]:
budget_data_df = pd.read_csv(path)
budget_data_df.head()
a= list(budget_data_df.columns)
print(a)

['Date', 'Profit/Losses']

In [69]:
Total_Month=len(budget_data_df["Date"])
Net_Total = budget_data_df["Profit/Losses"].sum()
budget_data_df["Change"] = (budget_data_df["Profit/Losses"]-budget_data_df["Profit/Losses"].shift())
print(Total_Month)
print(Net_Total)
Average_Change=round(budget_data_df["Change"].mean(),2)
#budget_data_df.head()
#Average_ChangeGreatest Increase in Profits: Aug-16 ($1862002)
#Increase_Max = budget_data_df["Change"].max()

#Decrease_Max = budget_data_df["Change"].min()
Greatest_Increase =  budget_data_df.loc[budget_data_df["Change"] == budget_data_df["Change"].max(),["Date","Profit/Losses"]]  
Greatest_Dncrease =  budget_data_df.loc[budget_data_df["Change"] == budget_data_df["Change"].min()]  
Greatest_Increase

86
22564198

      Date  Profit/Losses
79  Aug-16         951227